################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/animalGame/.vs/animalGames/v16
/animalGame/x64/Debug
/animalGame/animalGames.vcxproj.filters
/animalGame/animalGames.vcxproj.user
